h1{
    color: greenyellow;
    text-shadow: greenyellow 1px 0px 10px;
}
h2{
    background-color: greenyellow;
}
h3{
    background-color: greenyellow;
}
body{
    background-color: black;
}
p{
    color: greenyellow;
}